/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

/* || General Layout */
body {
  margin: 0 auto;
  width: 75%;
}

form {
  display: flex;
  /* width: 50%; */
  margin-top: 40px;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

form button {
  flex-basis: 20%;
  /* width: 20%; */
}

input[type="text"] {
  height: 35px;
  width: 10%;
  padding-left: 20px;
  color: #3a3a3a;
  background-color: #e1e9f0;
  border: none;
  border-radius: 5px;
  margin: 0 5px;
}

button {
  height: 35px;
  margin: 20px 0 50px;
  background-color: rgb(168, 121, 212);
  border: none;  
  border-radius: 5px;
  color:rgb(96, 62, 128)
}

/* || Utility Style */

.globalFont {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
}

.horoscopes {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(6, 1fr);
  margin: 40px;
}

.horoscope {
  display: grid;
  justify-self: center;
  width: 50%;
}

.name {
  display: grid;
  justify-self: center;
  margin-bottom: 20px;
}

.textInput {
  width: 50%;
  margin: 50px auto 50px;
}

.break {
  flex-basis: 100%;
}